*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    max-width: 100vw;
    min-height: 100vh;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
}

/* Fonts */

@font-face {
    font-family: Raleway-regular;
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway-medium;
    src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: Raleway-bold;
    src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: Raleway-extrabold;
    src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: Raleway-semibold;
    src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: Raleway-black;
    src: url(../fonts/Raleway-Black.ttf);
}

/* -----------------colors------------- */

:root{
    --primary:#EEBF00;
    --secondary:#232B38;
    --ternary:#6c6c6c;
    --danger:#fe4545;
    --pure:#fefefe;
    --light:#f0f0f0;
    --haven:#ffffff;
    --footer:#2d333f;
}

.container{
    width: 100%;
    padding: 0px 1.5rem; 
    margin: 0 auto;  
}

/* ----------Container media query-------------- */

@media (min-width:57.6rem){
    .container{
        max-width: 54rem;
    }
}

@media (min-width:76.8rem){
    .container{
        max-width: 72rem;
    }
}

@media (min-width:99.2rem){
    .container{
        max-width: 96rem;
    }
}

@media (min-width:120rem){
    .container{
        max-width: 115.2rem;
    }
} 

/* ---------------Header area start ------------- */

header.topbar{
    background-color: var(--secondary);
    color: var(--pure);   
    font-family: "Raleway-semibold";
    padding: 0.75rem 0;
}

header.topbar .icons a{
    margin-right: 0.6rem;
}

header.topbar .auth > div a{
    color: var(--pure);
    text-decoration: none;
}

header.topbar .auth .devider{
    padding: 0 1rem;
}

header.topbar .auth img{
    margin-right: 0.35rem;
}

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}


/* ------------Navbar style start--------- */

nav .top{
    padding: 1.5rem 0;
}

nav .top .contact h5, nav .top .time h5{
    font-family: "Raleway-black";
    margin-bottom: 0.25rem;
}

nav .top .contact h6, nav .top .time h6{
    font-family: "Raleway-medium";
    letter-spacing: 0.055rem;
    font-size: 0.75rem;
    color: var(--ternary);
}

nav .top .contact img, nav .top .time img{
    margin-right: 1rem;
}

nav .navbar a{
    text-decoration: none;
    color: var(--secondary);
    font-family: "Raleway-semibold";
    font-size: 1rem;
    padding: 1rem 2rem; 
    transition: all 0.4s ease;
}

nav .navbar a.active{
    background-color: var(--primary);
    color: var(--pure);
}

nav .navbar a:hover{
    background-color: var(--primary);
    color: var(--pure);
}

/* ---------utility class------- */

.magic-shadow{
    position: relative;
    background: var(--haven);
}

.magic-shadow::after{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(../icons/shadow.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    bottom: -23px;;
}

header.hero{
    height: 600px;
    max-width: 100vw;
    background-image: url("../images/hero.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    overflow: hidden;
}

header.hero .container{
    position: relative;
}

header.hero .welcome{
    margin-bottom: 0.25rem;
}

header.hero .welcome span{
    font-family: "Raleway-bold";
    color: var(--secondary);
    margin-right: 0.75rem;
}

header.hero h1{
    font-family: "Raleway-extrabold";
    color: var(--secondary);
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}

header.hero h1 span{
    color: var(--primary);
}

header.hero p{
    font-family: "Raleway-medium";
    width: 50%;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.btn{
    padding: 0.75rem 0.75rem;
    border-radius: 0.4rem;
    border: 1px solid transparent;
    outline: none;
    line-height: 0.8;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-primary{
    background-color: var(--primary);
    color: var(--haven);
}

.btn-primary:hover{
    background-color: var(--haven);
    color: var(--primary);
    border: 1px solid var(--primary);
}

.btn-secondary{
    background-color: var(--secondary);
    color: var(--haven);
}

.btn-secondary:hover{
    background-color: var(--heaven);
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

header.hero button:first-child{
    margin-right: 0.5rem;
}

header.hero .hero-img{
    position: absolute;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);

}
