*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    max-width: 100vw;
    min-height: 100vh;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    font-family: "Raleway-regular";
}

/* Fonts */

@font-face {
    font-family: Raleway-regular;
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway-medium;
    src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: Raleway-bold;
    src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: Raleway-extrabold;
    src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: Raleway-semibold;
    src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: Raleway-black;
    src: url(../fonts/Raleway-Black.ttf);
}

/* -----------------colors------------- */

:root{
    --primary:#EEBF00;
    --secondary:#232B38;
    --ternary:#6c6c6c;
    --danger:#fe4545;
    --pure:#fefefe;
    --light:#f0f0f0;
    --haven:#ffffff;
    --footer:#2d333f;
}

.container{
    width: 100%;
    padding: 0px 1.5rem; 
    margin: 0 auto;  
}

/* ----------Container media query-------------- */

@media (min-width:57.6rem){
    .container{
        max-width: 54rem;
    }
}

@media (min-width:76.8rem){
    .container{
        max-width: 72rem;
    }
}

@media (min-width:99.2rem){
    .container{
        max-width: 96rem;
    }
}

@media (min-width:120rem){
    .container{
        max-width: 115.2rem;
    }
} 

/* ---------------Header area start ------------- */

header.topbar{
    background-color: var(--secondary);
    color: var(--pure);   
    font-family: "Raleway-semibold";
    padding: 0.75rem 0;
}

header.topbar .icons a{
    margin-right: 0.6rem;
}

header.topbar .auth > div a{
    color: var(--pure);
    text-decoration: none;
}

header.topbar .auth .devider{
    padding: 0 1rem;
}

header.topbar .auth img{
    margin-right: 0.35rem;
}

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}


/* ------------Navbar style start--------- */

nav .top{
    padding: 1.5rem 0;
}

nav .top .contact h5, nav .top .time h5{
    font-family: "Raleway-black";
    margin-bottom: 0.25rem;
}

nav .top .contact h6, nav .top .time h6{
    font-family: "Raleway-medium";
    letter-spacing: 0.055rem;
    font-size: 0.75rem;
    color: var(--ternary);
}

nav .top .contact img, nav .top .time img{
    margin-right: 1rem;
}

nav .navbar a{
    text-decoration: none;
    color: var(--secondary);
    font-family: "Raleway-semibold";
    font-size: 1rem;
    padding: 1rem 2rem; 
    transition: all 0.4s ease;
}

nav .navbar a.active{
    background-color: var(--primary);
    color: var(--pure);
}

nav .navbar a:hover{
    background-color: var(--primary);
    color: var(--pure);
}

/* ---------utility class------- */

.magic-shadow{
    position: relative;
    background: var(--haven);
}

.magic-shadow::after{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(../icons/shadow.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    bottom: -23px;
    padding-bottom: -3rem;
}

.magic-shadow-sm{
    position: relative;
    background: var(--haven);
}

.magic-shadow-sm::after{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(../icons/shadow-sm.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    bottom: -23px;
    left: 50%;
    transform: translateX(-50%);
}

header.hero{
    height: 600px;
    max-width: 100vw;
    background-image: url("../images/hero.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    overflow: hidden;
}

header.hero .container{
    position: relative;
}

header.hero .welcome{
    margin-bottom: 0.25rem;
}

header.hero .welcome span{
    font-family: "Raleway-bold";
    color: var(--secondary);
    margin-right: 0.75rem;
}

header.hero h1{
    font-family: "Raleway-extrabold";
    color: var(--secondary);
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}

header.hero h1 span{
    color: var(--primary);
}

header.hero p{
    font-family: "Raleway-medium";
    width: 50%;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.btn{
    padding: 0.75rem 0.75rem;
    border-radius: 0.4rem;
    border: 1px solid transparent;
    outline: none;
    line-height: 0.8;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-primary{
    background-color: var(--primary);
    color: var(--haven);
}

.btn-primary:hover{
    background-color: var(--haven);
    color: var(--primary);
    border: 1px solid var(--primary);
}

.btn-secondary{
    background-color: var(--secondary);
    color: var(--haven);
}

.btn-secondary:hover{
    background-color: var(--heaven);
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

header.hero button:first-child{
    margin-right: 0.5rem;
}

header.hero .hero-img{
    position: absolute;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);
}

/* --------------slider----------- */

section{
    padding: 4rem 0;
}

section.top-products{
    background-color: var(--light);
}

.section-heading{
    font-family: "Raleway-bold";
    text-align: center;
    position: relative;
    margin-bottom: 4rem;
}

.section-heading::after{
    content: '';
    display: block;
    width: 100%;
    height: 3rem;
    background-image: url(../icons/hr.svg);
    background-repeat: no-repeat;
    background-position: center;
}

section.top-products .food-slider .food-card{
    background-color: var(--haven);
    padding: 1.5rem 0;
    border-radius: 0.4rem;
}

section.top-products .food-slider .food-card .product-img img{
    width: 80%;
    height: 17rem;
    object-fit: contain;
    padding-bottom: 1rem;
}

hr{
    border: 1px solid var(--light);
    opacity: .8;
    margin: 1rem 0;
}

section.top-products .food-slider .food-card h2{
    font-family: "Raleway-bold";
    margin-bottom: 0.25rem;
}

.text-center{
    text-align: center;
}

section.top-products .food-slider .food-card .stars{
    margin-bottom: 0.5rem;
}

section.top-products .food-slider .food-card .stars img{
    margin-right: 0.25rem;
}

section.top-products .food-slider .food-card .price{
    font-family: "Raleway-medium";
    color: var(--danger);
    margin-bottom: 1rem;
}

section.top-products .food-slider .food-card button{
    font-family: "Raleway-medium";
    color: var(--secondary);
    background-color: var(--haven);
    border: 2px solid var(--primary);
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 1rem;
    transition: all .3s ease;
}

section.top-products .food-slider .food-card button:hover{
    color: var(--haven);
    background-color: var(--primary);
}

.food-slider .food-card button img{
    background-color: var(--primary);
    padding: .50rem;
    height: 32px;
    margin-right: 1.2rem;
}

/* ------------Slick slider default style customize start----------- */

.slick-slide{
    margin: 0 27px;
}

.slick-list{
    margin: 0 -27px;
}

/* ------------Slick slider default style customize End----------- */


.top-products .slider-btn{
    width: 3rem;
    height: 3rem;
    border: none;
    background: var(--primary);
    border-radius: 0.4rem;
    cursor: pointer;
    outline: none;
}

.top-products .slider{
    position: relative;
}

.pre-btn{
    position: absolute;
    top: 50%;
    left: -5rem;
    transform: translateY(-50%);
}

.next-btn{
    position: absolute;
    top: 50%;
    right: -5rem;
    transform: translateY(-50%);
}

.top-products .btn-wrapper{
    margin-top: 2rem;
}

.slick-track{
    padding: 1.5rem 0;
}

/* -----------slider style done------------- */


.flex-1{
    flex: 1;
}

section.about-meal img{
    width: 90%;
}

section.about-meal h2{
    font-family: "Raleway-bold";
    font-size: 1.4rem;
    color: var(--secondary);
    margin-bottom: 2rem;
    line-height: 1.3;
}

section.about-meal p{
    line-height: 1.7;
    margin-bottom: 4rem;
}


/* ---------Service style---------- */

section.our-service{
    background-color: var(--light);
    z-index: 0;
    position: relative;
}

section.our-service  .card-wrapper{
    margin-right: -2rem;
    margin-top: 5rem;
}

section.our-service .service-card{
    background: var(--haven);
    text-align: center;
    padding: 2rem;
    position: relative;
    padding-top: 4rem;
    border-radius: 4px;
    margin-right: 2rem;
}

section.our-service .service-card .icon{
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
}

section.our-service .service-card h2{
    font-family: "Raleway-bold";
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

section.our-service .service-card p{
    line-height: 1.6;
    margin-bottom: 1rem;
}

.text-primary{
    color: var(--primary);
}

/* -----------Big Deal style----------- */

section.big-deal{
    color: var(--haven);
    background-image: linear-gradient(
        rgba(35,43,56,0.8),
        rgba(35,43,56,0.7)
        ),url(../images/food-table.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
}

section.big-deal .timer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -2rem;
}

section.big-deal .timer div{
    margin-right: 2rem;
    background-color: var(--primary);
    width: 150px;
    height: 150px;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.big-deal .timer div span:first-child{
    font-family: "Raleway-semibold";
    font-size: 2.5rem;
    color: var(--haven);
    margin-bottom: 0.05rem;
}

section.big-deal .timer div span:last-child{
    font-family: "Raleway-medium";
    color: var(--haven);
}


/* -----------Latest News----------- */

section.latest-news{
    background-color: var(--light);
    position: relative;
    z-index: 0;
}

section.latest-news .article-wrapper{
    display: flex;
    margin-right: -2rem;
}

section.latest-news .article-wrapper .card{
    margin-right: 2rem;
    background-color: var(--haven);
    border-radius: 4px;
}

section.latest-news .article-wrapper .card img{
    width: 100%;
}

section.latest-news .article-wrapper .card .card-content{
    padding: 2rem;
}

section.latest-news .article-wrapper .card .card-content .post-meta{
    margin-bottom: 1rem;
}

section.latest-news .article-wrapper .card .card-content .post-meta .comment-count{
    margin-left: 1rem;
}

section.latest-news .article-wrapper .card .card-content h2{
    font-family: "Raleway-bold";
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

section.latest-news .article-wrapper .card .card-content p{
    line-height: 1.6;
}

section.latest-news .btn-wrapper{
    margin-top: 2rem;
}

/* ------Subscribe section start-------- */


section.subscribe{
 background-color: var(--primary);
}

section.subscribe h1{
    font-family: "Raleway-bold";
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

section.subscribe p{
    font-family: "Raleway-medium";
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

section.subscribe .container > div:first-child img{
    width: 90%;
}

section.subscribe .container  div:first-child{
    flex: 1;
}

section.subscribe .container  div:last-child{
    flex: 1;
}

section.subscribe .input-wrap{
    background-color: var(--haven);
    display: flex;
    padding: 0.3rem;
    border-radius: 4px;
}

section.subscribe .input-wrap input{
    width: 100%;
    border: none;
    padding: 0 1rem;
    outline: none;
}

section.subscribe .input-wrap button{
    padding: 0.8rem 2rem;
    border: none;
    background-color: var(--primary);
    border-radius: 4px;
    color: var(--pure);
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    transition: all 0.5 ease;
}

section.subscribe .input-wrap button:hover{
    background-color: var(--secondary);
}


